<!DOCTYPE html>
<html lang="en">

<head>
   
    <%- include('./Hdr_Ftr/Head.ejs')%>
</head>

<body>

    <header>
        <%- include('./Hdr_Ftr/Header.ejs')%>
    </header>

    <main>
        <div class="jumbotron">
            <h1>This is Contact Page</h1>
            <p>Welcome to Contact Page</p>
        </div>
        <p><%= value %></p>
    </main>

    <footer>
        <%- include('./Hdr_Ftr/Footer.ejs')%>
    </footer>

</body>

</html>