footer{background-color: #F3F3F3;
 
    height: 50px;
    bottom: 0px;
    left: 0px;
    padding-top: 5px;
    text-align: center;
    right: 0px;
    margin-bottom: 0px;}
    td{
       text-align: center;
       size: 32px;
       padding: 3px;
    }
    th{
      text-align: center;
      size: 3rem;
      padding: 3px;
      background-color: aqua;
   }
   table{
      text-align: center;
   }
    